.App-flex {
  display: flex;
  justify-content: space-around;
}
.send-column {
  display: flex;
  flex-direction: column;
}

.connect button {
  float: right;
  padding: 4.5px;
}

.connect p {
  margin-top: 35px;
  padding: 5px;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
